body {
  background-color: #eee;
}

.c-go-top {
  background: none repeat scroll 0 0 padding-box #1099dd;
  bottom: 20px;
  border: 1px solid #1099dd;
  border-radius: 4px;
  color: #eee;
  display: none;
  font-size: 12px;
  opacity: 0.8;
  padding: 10px;
  position: fixed;
  right: 5%;
  text-decoration: none;
  z-index: 999;
}

.c-go-top:hover,
.c-go-top:focus,
.c-go-top:active,
.c-go-top:visited {
  color: #fff;
  outline: 0;
  text-decoration: none;
}