/*Fontes*/
/* vietnamese */
@font-face {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Josefin Sans Regular"), local("JosefinSans-Regular"), url('https://fonts.gstatic.com/s/josefinsans/v14/Qw3aZQNVED7rKGKxtqIqX5EUAnx4RHw.woff2') format("woff2");
    unicode-range: U + 0102-0103, U + 0110-0111, U + 1EA0-1EF9, U + 20AB;
}
/* latin-ext */
@font-face {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Josefin Sans Regular"), local("JosefinSans-Regular"), url('https://fonts.gstatic.com/s/josefinsans/v14/Qw3aZQNVED7rKGKxtqIqX5EUA3x4RHw.woff2') format("woff2");
    unicode-range: U + 0100-024F, U + 0259, U + 1E00-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20CF, U + 2113, U + 2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Josefin Sans Regular"), local("JosefinSans-Regular"), url('https://fonts.gstatic.com/s/josefinsans/v14/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2') format("woff2");
    unicode-range: U + 0000-00FF, U + 0131, U + 0152-0153, U + 02BB-02BC, U + 02C6, U + 02DA, U + 02DC, U + 2000-206F, U + 2074, U + 20AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto"), local("Roboto-Regular"), url('https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2') format("woff2");
    unicode-range: U + 0460-052F, U + 1C80-1C88, U + 20B4, U + 2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto"), local("Roboto-Regular"), url('https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2') format("woff2");
    unicode-range: U + 0400-045F, U + 0490-0491, U + 04B0-04B1, U + 2116;
}
/* greek-ext */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto"), local("Roboto-Regular"), url('https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2') format("woff2");
    unicode-range: U + 1F00-1FFF;
}
/* greek */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto"), local("Roboto-Regular"), url('https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2') format("woff2");
    unicode-range: U + 0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto"), local("Roboto-Regular"), url('https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2') format("woff2");
    unicode-range: U + 0102-0103, U + 0110-0111, U + 1EA0-1EF9, U + 20AB;
}
/* latin-ext */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto"), local("Roboto-Regular"), url('https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2') format("woff2");
    unicode-range: U + 0100-024F, U + 0259, U + 1E00-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20CF, U + 2113, U + 2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto"), local("Roboto-Regular"), url('https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2') format("woff2");
    unicode-range: U + 0000-00FF, U + 0131, U + 0152-0153, U + 02BB-02BC, U + 02C6, U + 02DA, U + 02DC, U + 2000-206F, U + 2074, U + 20AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U+FEFF, U+FFFD;
}

p {
    line-height: 2rem;
}

/*Texto Section 1*/
.col-lg-4 {
    text-align: center;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    color: #fff;
}

/*Textos*/
.texto {
    position: relative;
    color: #ddd;
    background-color: #0000;
    text-align: center;
    padding: 50px 80px;
   # text-align: justify;
}

/* footer */
.footer {
    color: #fff;
    background-color: transparent;
    text-align: left;
}

/* slider */
.carousel-inner img {
    width: 50%;
    height: 50%;
	position: relative;
	padding: 50px 50px
}

/*BootStrap*/
.presentation {
    font-family: Josefin Sans;
}

.perguntas {
    font-family: Roboto;
}

.membros {
    font-family: Roboto;
}

.f-parte {
    font-family: Roboto;
}

.t-texto {
    font-family: Josefin Sans;
}

.d-sobre {
    font-family: Roboto;
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-family: Josefin Sans;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media(min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.btn-outline-success {
    color: #ffe484;
    border-color: #ffe484;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #ffe484;
    border-color: #ffe484;
}

.btn-outline-success:focus,
.btn-outline-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 228, 132, 0.5);
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
    color: #ffe484;
    background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #ffe484;
    border-color: #ffe484;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 228, 132, 0.5);
}

/*Back-to-top*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(0, 0, 0, 0); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 60px; /* Rounded corners */
    font-size: 5px; /* Increase font size */
}

#myBtn:hover {
    background-color: white; /* Add a dark-grey background on hover */
}
